<nav class="navbar navbar-default">
  <div class="container-fluid header">
 <div class="collapse navbar-collapse">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">Recipe Book</a>
      </div>
      <ul class="nav navbar-nav header">
        <li routerLinkActive="active"class="header-content"><a routerLink="/recipes">Recipes</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" class="header-content"><a routerLink="/shopping-list">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
        <a style="cursor: pointer" class="dropdown-toggle" role="button">Manage</a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer">Save Data</a></li>
            <li><a style="cursor: pointer" >Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
